.session-container {
    position: relative;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 100%;
  }
  
  .cell1 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .cell1 h2 {
    margin-top: 0;
  }
  
  .cell1 .form-group {
    margin-bottom: 20px;
  }
  
  .cell1 label {
    display: block;
    margin-bottom: 5px;
  }
  
  .cell1 .custom {
    width: 100%;
  }
  
  .cell1 button {
    margin-top: 10px;
  }
  
  .cell2 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
  }
  
  .cell2 .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
  .cell2 .row .col-6 {
    width: 100%;
  }
  
  .cell2 .row .col-6:last-child {
    padding-left: 2%;
  }
  
  .cell2 button {
    width: 100%;
    margin-top: 10px;
  }
  
  .cell2 .table {
    width: 100%;
  }
  
  .cell2 .thead {
    display: flex;
    background-color: #f7f7f7;
    font-weight: bold;
  }
  
  .cell2 .thead .tr .th {
    padding: 10px;
    text-align: left;
  }
  
  .cell2 .tbody .tr {
    display: flex;
    border-bottom: 1px solid #f7f7f7;
  }
  
  .cell2 .tbody .tr:last-child {
    border-bottom: none;
  }
  
  .cell2 .tbody .tr .td {
    padding: 10px;
    text-align: left;
    width: 20%;
  }
  
  .cell2 .tbody .tr .td:last-child {
    width: 40%;
  }
  
  .cell2 .tbody button {
    margin-top: 0;
  }
  
  .cell3 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .cell3 h2 {
    margin-top: 0;
  }
  
  .timer {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .cell4 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .cell4 h2 {
    margin-top: 0;
  }
.cell1, .cell2, .cell3, .cell4 {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 0px rgba(247, 245, 245, 0.836);
  padding: 20px;
  margin-bottom:20px;
  
}

.cell1 h2,
.cell2 h2,
.cell3 h2,
.cell4 h2 {
background-color: #555;
color: #fff;
padding: 10px;
margin-top: 0;
border-radius: 5px 5px 0 0;
}

.cell2 button,
.cell2 .td:last-child button {
margin-top: 20px;
}

@media (max-width: 767px) {
.session-container {
padding: 10px;
}

.cell1,
.cell2,
.cell3,
.cell4 {
padding: 10px;
}

.cell1 h2,
.cell2 h2,
.cell3 h2,
.cell4 h2 {
font-size: 18px;
padding: 5px;
}

.cell2 .row {
flex-wrap: wrap;
}

.cell2 .row .col-6 {
width: 100%;
padding-right: 10;
margin-bottom: 30px;
}
}

/* Additional CSS for the new layout */

.row {
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

.col {
flex-basis: 0;
flex-grow: 1;
max-width: 100%;
padding-right: 15px;
padding-left: 15px;
}

.col-6 {
flex: 0 0 50%;
max-width: 50%;
}

.col-12 {
flex: 0 0 100%;
max-width: 100%;
}

.session-container {
position: relative;
background-color: #f7f7f7;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
padding: 20px;
margin: 20px auto;
max-width: auto;
}

.journey-list {
margin-top: 10px;
}

.journey-item {
display: flex;
align-items: center;
border-bottom: 1px solid #f7f7f7;
padding: 10px 0;
}

.journey-item:last-child {
border-bottom: none;
}

.journey-item .journey-id,
.journey-item .journey-station {
flex: 1;
}

.journey-item .journey-status {
flex: 0 0 320px;
text-align: center;
}

.journey-item .journey-actions {
flex: 0 0 200px;
display: flex;
justify-content: space-between;
align-items: center;
}

.journey-item .journey-actions button {
margin-left: 10px;
}

.timer-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .timer-container h2 {
    margin-top: 0;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
  }
  
  .timer {
    font-size: 24px;
    text-align: center;
  }
  
  #map {
    height: 400px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .dot-animation {
    display: inline-block;
    overflow: hidden;
    animation: dots 1s steps(5, end) infinite;
  }
  .fa-biking {
    color: #555;
    font-size: 20px;
    margin-left: 5px;
  }
  .journey-id {
    display: flex;
    align-items: center;
  }
  
  .journey-id .dot-animation {
    margin-left: 5px;
    animation: dots 1.4s infinite linear;
    color: #555;
  }
  
  .journey-id.in-progress {
    background-color: #ffc107; /* or any other background color of your choice */
  }
  
  @keyframes dots {
    0%, 20% {
      color: rgba(0, 0, 0, 0);
      text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
      color: #555;
      text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
      text-shadow: .25em 0 0 #555, .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%, 100% {
      text-shadow: .25em 0 0 #555, .5em 0 0 #555;
    }
  }
  .journey-id button {
    margin-right: 10px;
    width: auto;
  }
  
  .journey-id button.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .journey-id button.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
    
  }
  
  .journey-id button.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  }
  
  .journey-id button.btn-secondary:active {
    background-color: #545b62;
    border-color: #4e555b;
    
  }
  
  .journey-id button[disabled] {
    background-color: #28a745;
    border-color: #28a745;
    width: auto;
    border: 0px;
    font-weight: bolder;
  }
  
  .journey-id button[disabled]:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .journey-id button.complete {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .journey-id button.complete:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .journey-id button.complete:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  .journey-id button.complete:active {
    background-color: #0062cc;
    border-color: #005cbf;
  }
  /* ng-select */
.custom {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f9f9f9;
  font-size: 16px;
  padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  }
  
  ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: #f2f2f2;
  }
  ::ng-deep .ng-select .ng-placeholder {
    margin-right: 30px; /* adjust the value to your liking */
  }